/.bundle
/vendor/bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
/vendor/assets/bower_components
config/database.yml
config/initializers/secret_token.rb
*.bowerrc
bower.json
dump.rdb
npm-debug.log
.powenv
.rvmrc
.env
.DS_Store
*.swp
